/ {
    chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
	};

    aliases {
        led0 = &myled0;
        led1 = &myled1;

        btn1 = &mybtn1;

        rtc1 = &rtc;

        telemetry-uart = &usart1;
    };

    leds {
        compatible = "gpio-leds";
        myled0: led_0 {
            gpios = <&gpioa 12 GPIO_ACTIVE_HIGH>;
        };
        myled1: led_1 {
            gpios = <&gpioa 11 GPIO_ACTIVE_HIGH>;
        };
    };      

    gpio_keys {
		compatible = "gpio-keys";
		mybtn1: btn_1 {
			gpios = <&gpiob 9 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

    mco: mco {
        status = "okay";
        compatible = "st,stm32-clock-mco";
        clocks = <&rcc STM32_SRC_LSE MCO1_SEL(3)>;
        prescaler = <MCO1_PRE(0)>;
        pinctrl-0 = <&rcc_mco_pa8>;
        pinctrl-names = "default";
    };
};

&clk_lsi {
    status = "okay";
};

&clk_lse {
    status = "okay";
};

&clk_hse {
    status = "okay";
    /delete-property/hse-bypass;
	clock-frequency = <DT_FREQ_M(8)>;
};

&rcc {
	clocks = <&clk_hse>;
	clock-frequency = <DT_FREQ_M(8)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
};

&pll {
	status = "disabled";
};

&i2c2 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    tmp1075@48 {
        compatible = "ti,tmp1075";
        reg = <0x48>;
        conversion-rate = <220000>;
        consecutive-fault-measurements = <4>;
    };
};
&spi1 {
    cs-gpios = <&gpioa 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    gd25q16: gd25q16csjgr@0 {
        status = "okay";
        compatible = "jedec,spi-nor";
        /* 134217728 bits = 16 Mbytes */
		size = <0x1000000>;
        reg = <0x00>;
        spi-max-frequency = <100000>;
        jedec-id = [c8 40 15];
        wp-gpios = <&gpiob 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
    };
};

&rtc {
    status = "okay";
    clock-frequency = <32768>;
    prescaler = <1>;
    clocks = <&rcc STM32_CLOCK(APB1, 28U)>,
            <&rcc STM32_SRC_LSE RTC_SEL(1)>;
};
